{% extends "base.html" %}

{% block content %}
<nav class="panel">
    <p class="panel-heading">
      Admin Panel
    </p>
    {% for leaderboard in leaderboards %}
    <li class="panel-block">
        <form action="/admin/update" method="POST">
            <input type="hidden" name="id" value="{{ leaderboard.id }}">
            <div class="field is-grouped">
                <div class="control">
                    <input class="input" type="text" name="name" value="{{ leaderboard.name }}">
                </div>
                <div class="control">
                    <input class="input" type="text" name="token" value="{{ leaderboard.token }}">
                </div>
                <div class="control">
                    <button class="button" onclick="navigator.clipboard.writeText('easteregg.csci3403.com/submit/{{ leaderboard.token }}')">
                        <i class="fas fa-copy"></i>
                    </button>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="description" value="{{ leaderboard.description }}">
                </div>
            </div>
            
            <div class="field is-grouped">
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox" name="visible" {{ "checked" if leaderboard.visible else "" }}>
                        Visible
                    </label>
                </div>
                <div class="control">
                    <input class="button is-link" name="action" type="submit" value="Save">
                </div>
                <div class="control">
                    <input class="button is-warning" name="action" type="submit" value="Delete">
                </div>
        </form>
    </li>
    {% endfor %}
</nav>
<form action="/admin/new" method="POST">
    <button type="submit" class="button">
        <i class="fas fa-new"></i> New
    </button>
</form>
{% endblock %}


{% block footer %}
{% endblock %}

