<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% block head %}
        <title>CSCI 3403 Easter Egg Leaderboard</title>
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
        {% endblock %}
        <script src="https://kit.fontawesome.com/2bd72336da.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="/static/css/main.css">
</head>
<body class="container vertical">
    <nav class="navbar mb-5 mt-5" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <h1 class="title">CSCI 3403 Easter Eggs</h1>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Easter Eggs
                </a>
                <a class="navbar-item" href="/faq">
                    FAQ
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Leaderboards
                    </a>
                    <div class="navbar-dropdown">
                        {% for leaderboard in leaderboards if leaderboard.visible %}
                        <a class="navbar-item" href="/leaderboard/{{ leaderboard.id }}">
                            {{ leaderboard.name }}
                        </a>
                        {% endfor %}
                    </div>
                </div>
                {% if username == 'admin' %}
                <a class="navbar-item" href="/admin">
                    Admin
                </a>
                {% endif %}
            </div>
            <div class="navbar-end">
                <a class="navbar-item subtitle" href="/rename">
                    <b>{{ username }} <i class="fas fa-edit"></i></b>
                </a>
            </div>
        </div>
    </nav>
    <main class="flex-grow">
        <a class="easteregg" style="display: none" href="/solve/vNPO5hWaruFR">Woah, an easter egg within an easter egg...</a>
        {% block content %}{% endblock %}
    </main>
</body>
</html>