{% extends "base.html" %}

{% block content %}
<h2 class="subtitle">FAQ</h2>
<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            Wat
        </p>
    </header>
    <div class="card-content">
        <span class="content"><a href="https://en.wikipedia.org/wiki/Easter_egg_(media)">Easter eggs</a>. Little hidden achievements for people who look too closely.</span><br/>
    </div>
</div>
<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            Why
        </p>
    </header>
    <div class="card-content">
        <span class="content">Writing lecture slides is boring.</span><br/>
    </div>
</div>
<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            Are there any rewards for finding them?
        </p>
    </header>
    <div class="card-content">
        <span class="content">Isn't the joy of discovery and admiration of your peers reward enough?</span><br/>
    </div>
</div>
<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            This seems like overkill
        </p>
    </header>
    <div class="card-content">
        <span class="content">Yes</span><br/>
    </div>
</div>
<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            Is this suppose to be secret?
        </p>
    </header>
    <div class="card-content">
        <span class="content">¯\_(ツ)_/¯</span><br/>
    </div>
</div>
{% endblock %}