{% extends "base.html" %}

{% block content %}
{# <h2>Top Players</h2>
<ol class="nostyle">
{% if users %}
{% set winner = users[0] %}
    <li><i class="fas fa-crown gold"></i> {{ winner.username }}: {{ winner.score }}</li>
{% for user in users[1:] %}
    <li>{{ user.username }}: {{ user.score }}</li>
{% endfor %}
{% else %}
Nobody is here yet. How did you even find this page?
{% endif %}
</ol> #}

<ol class="panel">
    <p class="panel-heading">
      Easter Egg Leaderboards
    </p>
    {% for leaderboard in leaderboards if leaderboard.visible %}
    <a class="panel-block" href='/leaderboard/{{ leaderboard.id }}'>
        <span class="panel-icon">
            <i class="fas fa-laptop-code" aria-hidden="true"></i>
        </span>
        <b>{{ leaderboard.name }}</b>
    </a>
    {% endfor %}
</ol>

{% endblock %}
