{% extends "base.html" %}

{% block content %}
<a class="nostyle" href="/"><h3><i class="fas fa-chevron-left"></i> Back</h3></a>
<div class="content">
    <h2>{{ leaderboard.name }}</h2>
    <p><i>{{ leaderboard.description }}</i></p>
</div>

<ol class="panel">
    <p class="panel-heading">
      Leaderboard
    </p>
    {% for (color, (user, time)) in zip(['gold', 'silver', 'bronze'], completion_times) %}
    <li class="panel-block">
        <span class="panel-icon">
            <i class="fas fa-crown {{color}}" aria-hidden="true"></i>
        </span>
        <div class="control level">
            <div class="level-left">
                <div class="level-item">
                    {{time.strftime("%m/%d %H:%M")}}
                </div>
                <div class="level-item">
                    <b>{{ user.username }}</b>
                </div>
            </div>
        </div>
    </li>
    {% else %}
    <li class="panel-block">
        Nobody has found this easter egg yet. You could be the first!
    </li>
    {% endfor %}
    
    {% for (user, time) in completion_times[3:] %}
    <li class="panel-block">
        <span class="panel-icon">
        </span>
        <div class="control level">
            <div class="level-left">
                <div class="level-item">
                    {{time.strftime("%m/%d %H:%M")}}
                </div>
                <div class="level-item">
                    <b>{{ user.username }}</b>
                </div>
            </div>
        </div>
    </li>
    {% endfor %}
</ol>
{% endblock %}
