{% extends "base.html" %}

{% block content %}
<form action="/rename" method="POST", id="editor">
    {{ form.csrf_token }}
    <dt><label class="label">{{ form.username.label }}</label></dt>
    <i>Pick a cool hacker name. Or use your normal name. Whatever. Just keep it school-appropreate or I'll have to shut this down and we'll both be sad.</i>
    <dd>{{ form.username(class_="input mt-2") }}
    {% if form.username.errors %}
        <ul class="errors">
            {% for error in form.username.errors %}
            <li class="help is-danger">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</form>
{% endblock %}

<button type="submit" form="editor" value="Save">
    <i class="fas fa-save"></i> Save
</button>

{% block footer %}
{% endblock %}

